.register {
    height: calc(100vh - 69px);
    background: 
        linear-gradient(
            rgba(255,255,255,0.5), 
            rgba(255,255,255,0.5)
        ),
        url('https://images6.alphacoders.com/805/thumb-1920-805656.jpg');
    background-size: cover;
}

.registerButton {
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    padding: 10px;
}

.registerLoginButton {
    width: 80px;
    position: absolute;
    top: 85px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
}