.singlePost {
    padding: 20px;
    padding-right: 0;
}

.singlePostImg {
    height: 50vh;
    object-fit: cover;
}

.singlePostTitle {
    font-family: 'Lora', serif;
}

.singlePostTitle span {
    width: 90%;
}

.singlePostTitleInput {
    font-family: 'Lora', serif;
    font-size: 28px;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
    outline: none;
}

.singlePostEdit {
    font-size: 20px;
    width: 10%;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child { color: teal; }

.singlePostIcon:last-child { color: tomato; }

.singlePostInfo {
    color: #b39656;
    font-family: 'Varela Round', sans-serif;
}

.singlePostDesc {
    color: #666;
    font-size: 18px;
    text-align: justify;
}

.singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
}

.singlePostDescInput {
    border: none;
    color: #666;
    font-size: 18px;
    text-align: justify;
}

.singlePostDescInput:focus {
    outline: none;
}

.singlePostButton {
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    cursor: pointer;
    align-self: flex-end;
}