.sidebar {
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    font-family: 'Varela Round', sans-serif;
}

.sidebarImg {
    width: 70%;
    margin-top: 15px;
}

.sidebarDesc {
    padding: 30px;
    text-align: justify;
}

.sidebarDesc::first-letter {
    margin-left: 20px;
}

/* .sidebarList {
    margin-bottom: 30px;
    padding: 0;
}

.sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
} */

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}